.container {
  max-width: 1000px;
}
.col {
  margin-top: 0 !important;
}
.card-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: flex-start;
  /* background: linear-gradient(90deg, #20c997 80%, white 50%); */
  border-radius: 10px !important;
}
.card-title {
  text-transform: capitalize;
}
.card {
  border-radius: 8px !important;
}

.card__percentage {
  margin-bottom: 20px;
}

.dropzone {
  border-style: dashed;
}
#submitBtn {
  width: 100%;
}
#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td,
#classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.translate-middle {
  transform: translate(-120%, 20%) !important;
}

#result-name {
  text-transform: capitalize;
}
#result-img {
  border-radius: 50%;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    height: 4.5rem;
  }
  .card-img {
    height: 3rem;
    width: 3rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-body {
    gap: 0.5rem;
  }
  #dropzoneInput {
    margin-bottom: 1rem;
  }
}
@media (max-width: 544px) {
  .card-body {
    flex-direction: column;
  }
  .card {
    height: 6rem;
  }
  .card-title {
    font-size: 0.7rem;
  }
}
/* #CFF4FC */
@media (max-width: 450px) {
  .card {
    height: 7rem;
  }
  .card-title {
    text-align: center;
  }
}
