<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- dropzone css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/dropzone.min.css')}}"
    />

    <!-- custom css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <title>Image Classifier</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="/">Sports Person Classifier</a>
    </nav>

    {% block content %}{% endblock %}

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- dropzone js -->
    <script src="{{url_for('static', filename='js/dropzone.min.js')}}"></script>

    <!-- custom js -->
    <script defer src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
