{% extends 'base.html' %} {% block content %}
<div class="container">
  <div id="cards-container" class="row row-cols-3 g-4 mt-3">
    <!-- cards placeholder -->
  </div>

  <!-- input -->
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-12 mx-auto">
          <form action="/file-upload" class="dropzone" id="dropzone">
            <div class="dz-message needsclick">
              <img
                src="/static/img/upload.png"
                width="50vw"
                height="50vw"
              /><br />
              <span class="note needsclick"
                >Drop files here or click to upload</span
              >
            </div>
          </form>
        </div>
      </div>

      <div class="btn-wrapper mt-3">
        <button id="submitBtn" type="button" class="btn btn-primary" disabled>
          Classify
        </button>
      </div>
    </div>

    <!-- result -->

    <div class="col-sm-8 error" id="error">
      <div class="alert alert-danger" role="alert">
        <b> Can't classify image.</b> Classifier was not able to detect face and
        two eyes properly.
      </div>
    </div>

    <div class="col-sm-4" id="resultHolder"></div>
    <div class="col-sm-4" id="divClassTable">
      <table id="classTable">
        <tr>
          <th>Player</th>
          <th>Probability Score</th>
        </tr>
        <tr>
          <td>Cristiano Ronaldo</td>
          <td id="score_cristiano_ronaldo"></td>
        </tr>
        <tr>
          <td>Lionel Messi</td>
          <td id="score_lionel_messi"></td>
        </tr>
        <tr>
          <td>Kane Williamson</td>
          <td id="score_kane_williamson"></td>
        </tr>
        <tr>
          <td>Virat Kohli</td>
          <td id="score_virat_kohli"></td>
        </tr>
        <tr>
          <td>Conor McGregor</td>
          <td id="score_conor_mcgregor"></td>
        </tr>
        <tr>
          <td>Khabib</td>
          <td id="score_khabib"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
